.menu {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 15%;
    grid-gap: 2rem 5rem;
    grid-template-areas:
      "espresso filter"
      "espresso specialties"
      "iced hot"
      "non-alcoholic ."
      "lemonades water"
      "alcoholic ."
      "beer cocktails"
      "white-wine spirits"
      "red-wine spirits"
      "food sweets"
      "image image";
  }
  &__header {
    width: 60%;
    margin: 0 1rem;
    h1 {
      font-weight: bold;
      width: 70%;
      font-size: 3.5rem;
    }
    h4 {
      font-size: 3rem;
      width: 90%;
    }
    @media (min-width: 768px) {
      margin: 0 15%;
    }
  }
  &__heading {
    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 2rem;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2rem;
    }
  }

  &__img {
    align-self: center;
    position: relative;
    top: 20px;
  }
}

.espresso {
  grid-area: espresso;
}
.filter {
  grid-area: filter;
}
.specialties {
  grid-area: specialties;
}
.iced {
  grid-area: iced;
}
.hot {
  grid-area: hot;
}
.non-alcoholic {
  grid-area: non-alcoholic;
}
.lemonades {
  grid-area: lemonades;
}
.water {
  grid-area: water;
}
.alcoholic {
  grid-area: alcoholic;
}
.beer {
  grid-area: beer;
}
.white-wine {
  grid-area: white-wine;
}
.red-wine {
  grid-area: red-wine;
  @media (min-width: 768px) {
    position: relative;
    top: -8rem;
  }
}
.cocktails {
  grid-area: cocktails;
}
.spirits {
  grid-area: spirits;
}
.food {
  grid-area: food;
}
.sweets {
  grid-area: sweets;
}

.image {
  grid-area: image;
}
