.our-story__Jon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.our-story__Don {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.our-story__owners {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.our-story__desc {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
